.app {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  color: rgb(194, 165, 0) 
}

body {
  background: linear-gradient(to bottom right, #363636, #363636, #641a1a, #470606);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: black;
}

.dashboard-card-container, .FFC-container, .timer-app, .Emotions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.FFC-container, .Emotions-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 25px;
}

.FFC-card, .Emotions-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.dashboard-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-text {
  color: white;
}

.calculator {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: 10px;
}

.buttons button {
  padding: 10px;
  font-size: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.screen {
  font-size: 36px;
  text-align: right;
  margin-bottom: 10px;
  height: 50px;
  color: black;
  background-color: white;
  border: solid black 1px;
}

button:hover {
  background-color: #aaa;
}

button:active {
  background-color: #888;
}

.FFC-title, .Emotions-title {
  color: red;
  font-size: 48px;
}

.timer-size{
  font-size: 100px;
}

.Emotions-card {
  height: 200px;
  width: 300px;
}



@media only screen and (max-width: 768px) {
  .FFC-container {
    width: 100vw;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}




@media only screen and (max-width: 480px) {
  .FFC-container {
    width: 100vw;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .Emotions-container {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

}